.footer {
  min-height: 60px;
  background-color: #3c3c41;
  color: white;
  display: flex;
  align-items: center;
  margin: 0 !important;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
@media only screen and (max-width: 990px) {
  .footer {
    min-height: 110px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
